node_modules
.cache
.parcel-cache
package-lock.json
package.json
src/components/main-view/main-view.jsx
dist/index.6701a6e1.js
dist/index.6701a6e1.js.map
package-lock.json
package.json
dist/index.6701a6e1.js
